.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .input-container{
        width: 100%;
        max-width: 667px;
        text-align: center;
        padding: 30px;

        // section input field 
        input{
            border: none;
            outline: none;
            padding: 12px;
            border-radius: 4px;
            margin: 12px 0;
            font-size: 18px;

           &[type="text"]{
               width: 70%;
           }
        }

        // style of add button 
        #addBtn{
            border: none;
            padding: 10px 17px;
            border-radius: 4px;
            font-size: 16px;
            background-color: #070302;
            color: white;
            cursor: pointer;
            margin-left: 8px;
            font-weight: 600;

            &:hover{
                background-color: #6d6e6d;
            }
        }

    }
    // styling of listing task
    ul{
        width: 100%;
        max-width: 525px;

        li{
            list-style-type: none;
            cursor: pointer;
            border: 1px solid rgb(240, 235, 235);
            border-radius: 8px;
            margin-top: 10px;
            padding: 5px 15px;
            background-color: #fff;
            display: flex;
            align-items: center;
            // justify-content: space-between;
            gap: 25px;

            &:hover{
                background-color: rgb(245, 239, 239);
            }

            p{
                // flex-grow: 1;
                width: 70%;
            }

            .todo-checkbox{
                width: 20px; 
                height: 20px; 
                accent-color: rgb(44, 44, 161); 
            }
            

            // style of both edit and Remove button 
            .btn{
                border: none;
                outline: none;
                font-size: 16px;
                background: none;
                font-weight: 600;
                cursor: pointer;
                margin: 0 5px;
                padding: 6px;
                border-radius: 4px;
                font-size: 23px;

                &.deleteBtn{
                    color: #ff0000;
                  
                }
                &.editBtn{
                    color: rgb(17, 192, 17);
                }
            }

            .todo-checkbox{
                width: 18px;
                height: 18px;
            }
        }
    }
}